<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somo.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TTSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActionBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RadioActivity" />

        <receiver
            android:name=".receiver.MessageReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="ON_ACTION" />
                <action android:name="OFF_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".activity.DialogActivity"></activity>
        <activity android:name=".activity.ExpandableActivity"></activity>
    </application>

</manifest>